
#yul{
    width: 100px;
    z-index: 100;
    float: right;
    
}
#lol{
    z-index: ;
    width: 100px;
    float: left;
}
h1{
    background-color: blue;
    
}
#papa{
    font-size: 70px;
    color: blue;


}
#tola{
    font-size: 50px;
    color: brown;
}
span{
    width: 100px;
    
}
i{
    width: 50px;
    
}
#book{
     font-size: 70px;
    color: red;
}
#nani{
    font-size: 70px;
    color: greenyellow;

}
#face{
    font-size: 70px;
    color: brown;
}
#dayo{
    font-size: 70px;
    color: brown;
    
}
#kola{
    font-size: 70px;
    color: brown;
}
#malik{
    font-size: 70px;
    color: brown;
}
#lola{
    font-size: 70px;
    color: brown;
}
#mayor{
    font-size: 70px;
    color: brown;
     
}
#tolu{
    letter-spacing: 100px;
}
#ko{
    font-size: 70px;
    color: brown;
    
}
#lo{
    font-size: 70px;
    color: brown;

}
