img{
    height: 500px;
    width: 500px;
    height: 500px;
    margin: 20px 20px 20px 20px;
    border-style:solid;
    border-width: 50px;
    border: 50px groove red;
    
    
    

}
body{
    
  text-align: center;
  margin: 20px 20px 20px 20px;
  background-color: aqua;


}
a{
    text-decoration: none;
}
a:link{
    color: red;

}
a:active{
    color: blue;

}
a:hover{
    color: green;

}
a:visited{
    color: brown;
}

ul{
    list-style-type: circle;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: century;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.5)),rgba(0,0,0,0.5) rgba(0,0,0,0.5), url(img/home\ page.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 40px;
    margin-right: 60px;
    font-size: 17px;
}
#kam{
    
}
ul li{
    display: inline-block;

}
ul li a{
    text-decoration: none;
    color: brown;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}
ul li a:hover{
    background-color: black;
    color: red;

}

.logo img{
    float: left;
    width: 50px;
    height: auto;
}
.main{
    max-width: 120px;
    margin: auto;
    }
   
